{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2 class="mb-4">Dashboard</h2>
  <form class="form-inline mb-4" method="get" action="{{ url_for('dashboard') }}">
    <input type="text" class="form-control mr-2" name="q" placeholder="Rechercher un fichier">
    <button type="submit" class="btn btn-outline-primary">Rechercher</button>
  </form>
  {% if files %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom du fichier</th>
          <th>Catégorie</th>
          <th>Date d'upload</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td>{{ file.original_filename }}</td>
          <td>{{ file.category }}</td>
          <td>{{ file.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>
            <a href="{{ url_for('download_file', file_id=file.id) }}" class="btn btn-success btn-sm action-btn">Télécharger</a>
            <form action="{{ url_for('delete_file', file_id=file.id) }}" method="post" style="display:inline;">
                {% if session['role'] == 'admin' %}
                <button type="submit" class="btn btn-danger btn-sm action-btn">Supprimer</button>
            {% endif %}
            
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>Aucun fichier à afficher.</p>
  {% endif %}
</div>
{% endblock %}
