{% extends 'base.html' %}
{% block title %}Réinitialiser le mot de passe{% endblock %}
{% block content %}
  <div class="form-container mt-5">
    <h2>Réinitialiser le mot de passe</h2>
    <form method="POST">
      <div class="mb-3">
        <label for="password" class="form-label">Nouveau mot de passe :</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
    </form>
  </div>
{% endblock %}
