{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h2 class="mb-4">Réinitialisation du mot de passe</h2>
    <form method="post">
      <div class="form-group">
        <label for="password">Nouveau mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Votre nouveau mot de passe" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Réinitialiser</button>
    </form>
  </div>
</div>
{% endblock %}
