{% extends 'base.html' %}
{% block title %}Uploader un fichier{% endblock %}
{% block content %}
  <div class="form-container mt-5">
    <h2>Uploader un fichier</h2>
    <form method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="file" class="form-label">Choisissez un fichier :</label>
        <input type="file" name="file" id="file" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Uploader</button>
    </form>
  </div>
{% endblock %}
